In [1]:
import pandas as pd
from sqlalchemy import create_engine
import warnings
import os
import numpy as np
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [2]:
os.chdir(r'\\gold585.int\uk\Общее хранилище файлов\Дирекция Маркетинга и организации розничных продаж\Отдел аналитики\МЮР\Мониторинг товаров индикаторов\для визуализации')

In [29]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [15]:
df = pd.read_csv('page_1.csv', encoding='utf-8', on_bad_lines='skip', sep=';')

In [16]:
df['Дата мониторинга'] = pd.to_datetime(df['Дата мониторинга'], format='%d.%m.%Y')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425 entries, 0 to 1424
Data columns (total 16 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Ссылка                                                       1425 non-null   object
 1   Наименование изделия                                         1424 non-null   object
 2   ТН                                                           1425 non-null   object
 3   ТГ                                                           1425 non-null   object
 4   Площадка                                                     1425 non-null   object
 5   Бренд                                                        1118 non-null   object
 6   Проба                                                        1425 non-null   int64
 7   Цена до применения промокодов и бонусных рублей              1425 non-null   object
 8   Вес                                                          1407 non-null   object
 9   Размер                                                       758 non-null    object
 10  Скидка                                                       1425 non-null   object
 11  Наименование вставки                                         925 non-null    object
 12  Цена за грамм изделия                                        1407 non-null   object
 13  Итоговая цена за изделие с промокодами и бонусными рублями   1425 non-null   object
 14  Рейтинг по цене за штуку                                     1425 non-null   int64
 15  Дата мониторинга                                             1425 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 178.3+ KB

In [25]:
df.columns = ['Ссылка', 'Наименование изделия', 'ТН', 'ТГ', 'Площадка', 'Бренд',
       'Проба', 'Цена до применения промокодов и бонусных рублей', 'Вес ',
       'Размер', 'Скидка', 'Наименование вставки', 'Цена за грамм изделия',
       'Итоговая цена за изделие с промокодами и бонусными рублями',
       'Рейтинг по цене за штуку ', 'Дата мониторинга']

In [19]:
df['Цена до применения промокодов и бонусных рублей'] = df['Цена до применения промокодов и бонусных рублей'].str.replace(' ', '').str.replace(',', '.').astype('float')

In [20]:
df['Цена до применения промокодов и бонусных рублей'] = df['Цена до применения промокодов и бонусных рублей'].round(0).astype('int')

In [21]:
df['Цена за грамм изделия'] = df['Цена за грамм изделия'].str.replace(' ', '').str.replace(',', '.').astype('float')

In [26]:
df['Итоговая цена за изделие с промокодами и бонусными рублями'] = df['Итоговая цена за изделие с промокодами и бонусными рублями'].str.replace(' ', '').str.replace(',', '.').astype('float')

In [27]:
df['Итоговая цена за изделие с промокодами и бонусными рублями'] = df['Итоговая цена за изделие с промокодами и бонусными рублями'].round(0).astype('int')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425 entries, 0 to 1424
Data columns (total 16 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Ссылка                                                      1425 non-null   object
 1   Наименование изделия                                        1424 non-null   object
 2   ТН                                                          1425 non-null   object
 3   ТГ                                                          1425 non-null   object
 4   Площадка                                                    1425 non-null   object
 5   Бренд                                                       1118 non-null   object
 6   Проба                                                       1425 non-null   int64
 7   Цена до применения промокодов и бонусных рублей             1425 non-null   int32
 8   Вес                                                         1407 non-null   object
 9   Размер                                                      758 non-null    object
 10  Скидка                                                      1425 non-null   object
 11  Наименование вставки                                        925 non-null    object
 12  Цена за грамм изделия                                       1407 non-null   float64
 13  Итоговая цена за изделие с промокодами и бонусными рублями  1425 non-null   int32
 14  Рейтинг по цене за штуку                                    1425 non-null   int64
 15  Дата мониторинга                                            1425 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(2), int64(2), object(10)
memory usage: 167.1+ KB

In [77]:

df.head()

,Ссылка,Наименование изделия,ТН,ТГ,Площадка,Бренд,Проба,Цена до применения промокодов и бонусных рублей,Вес,Размер,Скидка,Наименование вставки,Цена за грамм изделия,Итоговая цена за изделие с промокодами и бонусными рублями,Рейтинг по цене за штуку,Дата мониторинга
0,https://www.585zolotoy.ru/catalog/products/266...,"Кольцо, каучук",БК,БК КОЛЬЦА,585ZOLOTOY,NaN,585,4258,"0,59",17,1,NaN,7217.0,4 258,1,19.10.2023
1,https://www.ozon.ru/product/novozoloto-koltso-...,"Кольцо, каучук",БК,БК КОЛЬЦА,OZON,NOVOZOLOTO,585,5695,"1,16",17,1,NaN,4909.0,5 695,3,19.10.2023
2,https://www.wildberries.ru/catalog/9853895/det...,"Кольцо, каучук",БК,БК КОЛЬЦА,WB,АТОЛЛ,585,5016,"0,7",17,1,NaN,7166.0,5 016,2,19.10.2023
3,https://www.585zolotoy.ru/catalog/products/200...,Кольцо обручальное 3 мм.,БК,БК КОЛЬЦА ОБРУЧ,585ZOLOTOY,NaN,585,13235,"1,42","17,5",1,NaN,9321.0,13 235,5,19.10.2023
4,https://www.wildberries.ru/catalog/165920670/d...,Кольцо обручальное 3 мм.,БК,БК КОЛЬЦА ОБРУЧ,WB,Юверос,585,12135,"1,36","17,5",1,NaN,8923.0,12 135,3,19.10.2023

In [76]:
df['Цена до применения промокодов и бонусных рублей'] = df['Цена до применения промокодов и бонусных рублей'].round(0).astype('int')

In [30]:
df.to_sql('page_1', engine, schema = 'yura', if_exists='replace')

425

In [31]:
df = pd.read_csv('page_2.csv', encoding='utf-8', on_bad_lines='skip', sep=';')

In [32]:
df['Дата мониторинга'] = pd.to_datetime(df['Дата мониторинга'], format='%d.%m.%Y')

In [35]:
df.columns

Index(['Ссылка', 'Наименование изделия', 'ТГ', 'Площадка', 'Бренд', 'Проба',
       'Цена до применения промокодов и бонусных рублей', 'Вес ', 'Размер',
       'Скидка', 'Цена за грамм изделия ',
       'Итоговая цена за изделие с промокодами и бонусными рублями ',
       'Рейтинг по цене за грамм', 'Дата мониторинга'],
      dtype='object')

In [33]:
df.head()

,Ссылка,Наименование изделия,ТГ,Площадка,Бренд,Проба,Цена до применения промокодов и бонусных рублей,Вес,Размер,Скидка,Цена за грамм изделия,Итоговая цена за изделие с промокодами и бонусными рублями,Рейтинг по цене за грамм,Дата мониторинга
0,https://catalog.zolotoy585.ru/catalog/tsepi/ma...,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,585ZOLOTOY,NaN,585,109 150,"18,5",50,1,5 900,109 150,1.0,2023-10-19
1,https://sokolov.ru/jewelry-catalog/product/581...,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,SOKOLOV,SOKOLOV,585,104 000,"7,48",45,1,13 904,104 000,5.0,2023-10-19
2,https://www.ozon.ru/product/zolotaya-tsepochka...,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,OZON,Karatsvetmet,585,96 408,"16,17",45,1,5 962,96 408,2.0,2023-10-19
3,https://www.wildberries.ru/catalog/173110630/d...,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,WB,Vzlate,585,99 532,"13,92",50,1,7 150,99 532,4.0,2023-10-19
4,https://spb.sunlight.net/catalog/chains_74091....,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,SUNLIGHT,KRASTSVETMET,585,123 440,"16,91",45,"0,9",6 487,109 696,3.0,2023-10-19

In [36]:
df['Цена за грамм изделия '] = df['Цена за грамм изделия '].str.replace(' ', '').str.replace(',', '.').astype('float')

In [37]:
df.to_sql('page_2', engine, schema = 'yura', if_exists='replace')

159

In [38]:
df = pd.read_csv('page_3.csv', encoding='utf-8', on_bad_lines='skip', sep=';')
df['Дата'] = pd.to_datetime(df['Дата'], format='%d.%m.%Y')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Наименование изделия                                        300 non-null    object
 1   ТГ                                                          300 non-null    object
 2   Итоговая цена за изделие с промокодами и бонусными рублями  300 non-null    object
 3   Рейтинг                                                     300 non-null    int64
 4   Минимальная цена за штуку среди конкурентов                 300 non-null    object
 5   Максимальная цена за штуку среди конкурентов                300 non-null    object
 6   Дата                                                        300 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 16.5+ KB

In [41]:
df.head()

,Наименование изделия,ТГ,Итоговая цена за изделие с промокодами и бонусными рублями,Рейтинг,Минимальная цена за штуку среди конкурентов,Максимальная цена за штуку среди конкурентов,Дата
0,"Кольцо, каучук",БК КОЛЬЦА,4 258,1,4 258,5 695,2023-10-19
1,кольцо-печатка с брилл с родир.+шайба+алм.гр.,ДК КОЛЬЦА,3 909,1,3 909,7 040,2023-10-19
2,"Подвеска с бриллиантом+изумруд выращ., с родир.",ДК ПОДВЕСКИ,2 755,1,2 755,4 441,2023-10-19
3,Подвеска с брилл. с родир.,ДК ПОДВЕСКИ,9 990,1,9 990,27 160,2023-10-19
4,"Серьги с бриллиантами+изумруды выращ., с родир.",ДК СЕРЬГИ,11 372,1,11 372,21 200,2023-10-19

In [44]:
df['Итоговая цена за изделие с промокодами и бонусными рублями'] = df['Итоговая цена за изделие с промокодами и бонусными рублями'].str.replace(' ', '').astype('int')

In [45]:
df['Минимальная цена за штуку среди конкурентов'] = df['Минимальная цена за штуку среди конкурентов'].str.replace(' ', '').astype('int')

In [46]:
df['Максимальная цена за штуку среди конкурентов'] = df['Максимальная цена за штуку среди конкурентов'].str.replace(' ', '').astype('int')

In [47]:
df.to_sql('page_3', engine, schema = 'yura', if_exists='replace')

300

In [48]:
df = pd.read_csv('page_4.csv', encoding='utf-8', on_bad_lines='skip', sep=';')
df['Дата'] = pd.to_datetime(df['Дата'], format='%d.%m.%Y')

In [49]:
df.head()

,Наименование изделия,ТГ,Итоговая цена за изделие с промокодами и бонусными рублями,Рейтинг,Минимальная цена за грамм среди конкурентов,Максимальная цена за грамм среди конкурентов,Дата
0,Тяжеловесная цепь Нонна,ЦБ ЦЕПИ,5900,2,5 889,13 636,2023-10-26
1,Тяжеловесный браслет Каприз,ЦБ БРАСЛЕТЫ,5900,2,5 525,10 428,2023-10-26
2,Тяжеловесный браслет Бисмарк,ЦБ БРАСЛЕТЫ,5900,2,5 473,9 474,2023-10-26
3,Тяжеловесный браслет Двойной ромб,ЦБ БРАСЛЕТЫ,"5901,37741",2,4 959,10 345,2023-10-26
4,Тяжеловесная цепь Ромб двойной,ЦБ ЦЕПИ,5900,3,4 848,8 715,2023-10-26

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Наименование изделия                                        33 non-null     object
 1   ТГ                                                          33 non-null     object
 2   Итоговая цена за изделие с промокодами и бонусными рублями  33 non-null     int32
 3   Рейтинг                                                     33 non-null     int64
 4   Минимальная цена за грамм среди конкурентов                 33 non-null     int32
 5   Максимальная цена за грамм среди конкурентов                33 non-null     object
 6   Дата                                                        33 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(2), int64(1), object(3)
memory usage: 1.7+ KB

In [52]:
df['Итоговая цена за изделие с промокодами и бонусными рублями'] = df['Итоговая цена за изделие с промокодами и бонусными рублями'].str.replace(',', '.').str.replace(' ', '').astype('float')

In [53]:
df['Итоговая цена за изделие с промокодами и бонусными рублями'] = df['Итоговая цена за изделие с промокодами и бонусными рублями'].round(0).astype('int')

In [54]:
df['Минимальная цена за грамм среди конкурентов'] = df['Минимальная цена за грамм среди конкурентов'].str.replace(',', '.').str.replace(' ', '').astype('float')

In [55]:
df['Минимальная цена за грамм среди конкурентов'] = df['Минимальная цена за грамм среди конкурентов'].round(0).astype('int')

In [57]:
df['Максимальная цена за грамм среди конкурентов'] = df['Максимальная цена за грамм среди конкурентов'].str.replace(',', '.').str.replace(' ', '').astype('float')

In [58]:
df['Максимальная цена за грамм среди конкурентов'] = df['Максимальная цена за грамм среди конкурентов'].round(0).astype('int')

In [59]:
df.to_sql('page_4', engine, schema = 'yura', if_exists='replace')

33