In [148]:
import pandas as pd
import numpy as np

ФИЛЬТРАЦИЯ DF ПО ТОВАРАМ-ИНДИКАТОРАМ В СООТВЕТСТВИИ С НАИБОЛЕЕ ПОПУЛЯРНЫМИ РАЗМЕРАМИ ПРЕДМЕТОВ

In [149]:
# читаю файл для получения списка ссылок
urls = pd.read_csv('links.csv')
urls = urls['Ссылка'].tolist()

# из ecom-файла достаю все данные и сохраняю их в DataFrame
df1 = pd.read_csv('ecom.csv')
df1 = df1.drop_duplicates()

# вытаскиваю только наши ссылки для дальнейшего мониторинга
links = []
for url in urls:
    try:
        if '585zolotoy' in url:
            links.append(url)
    except:
        continue

# извлекаю из ссылок артикулы
urls = []
for link in links:
    link = link.replace('https://www.585zolotoy.ru/catalog/products/', '')
    if '/' in link:
        link = link.replace('/', '')
    urls.append(int(link))

# немного фильтрации по отслеживаемым позициям
b = df1[(df1['article'] == 1001247)]
df = df1.query("article.isin(@urls)")
rings = df[((df['type1'] == 'КОЛЬЦО ОБРУЧАЛЬНОЕ') & (df['size'] == 17.5)) | ((df['type1'] == 'КОЛЬЦО') & (df['size'] == 17))].drop_duplicates(['article'])
chains = df[(df['type1'] == 'ЦЕПЬ') & (df['size'] == 45)].drop_duplicates(['article'])
bracelets = df[(df['type1'] == 'БРАСЛЕТ') & (df['size'] == 18)].drop_duplicates(['article'])
earrings = df[(df['type1'] == 'СЕРЬГИ')].drop_duplicates(['article'])
earrings_kongo = df[((df['type1'] == 'СЕРЬГИ-КОНГО') & (df['size'] == 1.5))]
other = df['type1'][(df['type1'] != 'КОЛЬЦО ОБРУЧАЛЬНОЕ') &
                    (df['type1'] != 'КОЛЬЦО') &
                    (df['type1'] != 'ЦЕПЬ') &
                    (df['type1'] != 'БРАСЛЕТ') &
                    (df['type1'] != 'СЕРЬГИ') &
                    (df['type1'] != 'СЕРЬГИ-КОНГО')
                    ].unique().tolist()
df = df.query("type1.isin(@other)")
df = df.drop_duplicates(['article'])

# формирую итоговый DataFrame с товарами-индикаторами 
res = pd.concat([df, rings, chains, bracelets, earrings, earrings_kongo, b], axis=0)
res = res[['article', 'size', 'discount_price', 'label_template']]

In [150]:
res = res.sort_values(by='article')

In [151]:
res = res.reset_index()

In [152]:
# преобразую столбец со скидками в числовой формат
def discount(price):
    try:
        if '-23%' in price:
            return 0.77
        elif '-10%' in price:
            return 0.90
        elif '-15%' in price:
            return 0.85
        return 0
    except:
        return 1
    
res['label_template'] = res['label_template'].apply(discount)

In [153]:
res.head()

    index  article  size  discount_price  label_template
0  155333  1001247   NaN           882.0            0.90
1  226814  1037699   NaN          3990.0            1.00
2  148174  1044635   NaN         29592.0            0.77
3  190140  1058491   1.5          4014.0            1.00
4  315142  1113845   NaN          5166.0            0.90

In [154]:
# создаю новый датафрейм для соблюдения порядка в изначальной таблице
df = pd.DataFrame(columns= ['article', 'size', 'discount_price', 'label_template'])

In [155]:
# перебираю элементы для получения их в порядке первоначального списка
for url in urls:
    id = url
    c = res.loc[res['article'] == url]
    df = pd.concat([df, c], ignore_index=True, sort=False)
    
# удаляю колонку с индексами, перетёкшими сюда из первоначального датафрейма
df.drop(columns=['index'], inplace= True)

C:\Users\Trenkin.Sergey\AppData\Local\Temp\ipykernel_19036\252233924.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, c], ignore_index=True, sort=False)

In [156]:
df

    article  size  discount_price  label_template
0   2666732  17.0          4464.0            0.77
1   2002928  17.5         13950.0            1.00
2   4978904  17.5          8784.0            0.77
3   2002944  17.5         18342.0            1.00
4   2004212  17.5         23904.0            1.00
5   4484504   NaN          4248.0            0.77
6   1480098   NaN          6372.0            1.00
7   1058491   1.5          4014.0            1.00
8   1975092  17.0         18000.0            0.90
9   1595230  17.0          6990.0            1.00
10  1661784  17.0         18864.0            0.77
11  2245567  17.0         18054.0            0.90
12  3626217  17.0         39618.0            0.77
13  1574699  17.5          9900.0            1.00
14  8329130  17.5         46710.0            0.77
15  1037699   NaN          3990.0            1.00
16  1718221   NaN          4572.0            0.90
17  5507169   NaN          3240.0            0.77
18  1671342   NaN          9990.0            1.00
19  1507074   NaN          9000.0            1.00
20  1044635   NaN         29592.0            0.77
21  8359153   NaN         36612.0            0.77
22  1238522   NaN         22716.0            0.90
23  2548824   NaN         41940.0            0.77
24  6395223  17.0          6990.0            1.00
25  4967137  17.0          8640.0            0.85
26  2008566  17.0         19692.0            1.00
27  2008263   NaN          4752.0            0.85
28  6309086   NaN          2754.0            0.85
29  2224204   NaN          7290.0            0.85
30  3987495   NaN          2124.0            0.85
31  5383945   NaN          6390.0            0.77
32  1457157   NaN          3960.0            0.85
33  1935414  17.0         10800.0            0.90
34  7863353   NaN          3240.0            0.90
35  4045438  50.0          8118.0            0.90
36  2225621   NaN          4824.0            0.90
37  1252957   NaN         14274.0            0.77
38  8375039   NaN         10656.0            0.90
39  1113845   NaN          5166.0            0.90
40  1001247   NaN           882.0            0.90
41  1180825  18.0          9684.0            0.77
42  1611546  18.0         22068.0            0.90
43  1279475  18.0          9702.0            0.90
44  8327924  45.0         15894.0            0.90
45  8378875  45.0          8244.0            0.90
46  2078259  45.0         11070.0            0.90
47  1548912  45.0         38232.0            0.77
48  1593106  45.0         15426.0            1.00
49  8369708  45.0         13122.0            0.77